<div class="row">
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sitio web</th>
                    <th>User</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList; track $index) {
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.website}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4 table-responsive">
        <ul>
            @for (item of todosList; track $index) {
                <li>{{item.title}}</li>
            }
        </ul>
    </div>
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Rol</th>
                    <th>Nombre Completo</th>
                </tr>
            </thead>
            <tbody>
                @for (item of busList; track $index) {
                    <tr>
                        <td>{{item.userId}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.role}}</td>
                        <td>{{item.fullName}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>