<!-- <p>user works!</p>
<br>
<input type="text" placeholder="Ingrese nombre"/>
<br>
<h3>{{nombreUser}}</h3> -->

<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                Lista de Usuarios
            </div>
            <div class="card-body">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Pass</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of userList; track $index) {
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{item.emailId}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.mobileNo}}</td>
                                <td>{{item.password}}</td>
                                <td>
                                    <button class="btn btn-warning">Modificar</button>
                                    <button class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-info">
                Formulario de Usuario
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" name="" id="" [(ngModel)]="userObj.emailId" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" name="" id="" [(ngModel)]="userObj.password" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Nombre</label>
                        <input type="text" name="" id="" [(ngModel)]="userObj.fullName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Teléfono</label>
                        <input type="text" name="" id="" [(ngModel)]="userObj.mobileNo" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-secondary">Limpiar</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" (click)="onSaveUser()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>