<div class="row">
    <div class="col-md-3" [ngClass]="div1ClassName()">
        <div class="p-3">Div 1 - {{div1ClassName()}}</div>
    </div>
    <div class="col-md-3">
        <div class="p-3" [ngStyle]="{'background-color': esDiv2Verde == true ? 'blue' : 'red'}">
            Div 2
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-success" (click)="setBgClass('bg-success')">Verde</button>
        <button class="btn btn-danger" (click)="setBgClass('bg-danger')">Rojo</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-success" (click)="toggleColorDiv2()">Cambiar color de fondo</button>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        primerNombre => {{primerNombre}}
        <br>
        {{primerNombre | uppercase}}
    </div>
    <div class="col-md-3">
        nombreCurso => {{nombreCurso}}
        <br>
        {{nombreCurso | lowercase}}
        <br>
        {{nombreCurso | titlecase}}
    </div>
    <div class="col-md-3">
        nombreCurso => {{nombreCurso}}
        <br>
        {{nombreCurso | titlecase}}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        listaNumerosRol => {{listaNumeros}}
        <br>
        {{listaNumeros | slice:0:3}}
        <br>
        {{listaNumeros | slice:3}}
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-3">
        estudianteObj => {{estudianteObj}}
        <br>
        {{estudianteObj | json}}
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-3">
        fecha => {{fechaActual}}
        <br>
        {{ fechaActual | date}}
        <br>
        {{fechaActual | date:'dd/MM/yy'}}
        <br>
        {{fechaActual | date:'dd/MMM/yy'}}
        <br>
        {{fechaActual | date:'dd/MMMM/yyyy'}}
    </div>
</div>